<br>
<br>
<div class="jumbotron cover">
  <a class="display-2">Timothy Lampung</a>
  <p class="lead">Java Developer</p>
  <!--<hr style="background-color: white" class="my-2">-->
  <p>Fullstack developer and Technical Support at Canang Technologies</p>
  <span class="btn btn-info" style="margin-left: 10px"><i class="fab fa-facebook-f"></i> Facebook</span>
  <span class="btn btn-info" style="margin-left: 10px"><i class="fab fa-instagram"></i> Instagram</span>
  <span class="btn btn-info" style="margin-left: 10px"><i class="fab fa-linkedin"></i> LinkedIn</span>
</div>
