.cover {
  color: aliceblue;
  background: url("/assets/images/foggy_forest_01_by_sacral_stock-d74yjpg.jpg") no-repeat 0px center fixed;
  object-fit: cover;
  background-size: 100%;
  background-blend-mode: multiply;
}

.cover-text{
  background-color: floralwhite;
}
