.working {
  color: aliceblue;
  background: url("/assets/images/working.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  padding: 10%;
  overflow: hidden;
  background-blend-mode: soft-light;
}
.skills {
  color: aliceblue;
  background: url("/assets/images/angular.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  padding: 10%;
  background-blend-mode: soft-light;
}

.cover-text{
  background-color: floralwhite;
}


